<!DOCTYPE html>
<html>

<head>
  <title> new Project</title>
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>

  <header>
    <div class="container">
      <h2 class="hedt1"> {{title}} </h2>

      <nav>
        <a href="/">HOME</a>
        <a href="/info">info</a>
      </nav>
    </div>
  </header>
  <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>