<!DOCTYPE html>
<html>
      <head>
           <title> info page</title>
           <link rel="stylesheet"  href="css/style.css" />
           <link rel="stylesheet" href="css/bootstrap.min.css" />
      </head>

      <body>
            {{>header}}
            <h3 class="infoh3">{{title}}</h3>
      </body>
</html>